apiVersion: 1
datasources:
{% for ds in grafana_datasources %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    access: proxy
    url: {{ ds.url }}
    isDefault: {{ ds.isDefault | default(false) | lower }}
{% endfor %}
