[server]
http_addr = 0.0.0.0
http_port = {{ grafana_port }}

[database]
type = sqlite3
path = {{ grafana_data_dir }}/grafana.db

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[users]
allow_sign_up = false

[log]
mode = file
level = info

[paths]
data = {{ grafana_data_dir }}
logs = {{ grafana_log_dir }}
provisioning = {{ grafana_config_dir }}/provisioning
