sonar.jdbc.username={{ sonarqube_db_user }}
sonar.jdbc.password={{ sonarqube_db_password }}
sonar.jdbc.url=jdbc:postgresql://{{ sonarqube_db_host }}:{{ sonarqube_db_port }}/{{ sonarqube_db_name }}

sonar.web.host={{ sonarqube_web_host }}
sonar.web.port={{ sonarqube_web_port }}

sonar.web.javaOpts=-Xmx{{ sonarqube_java_heap_max }} -Xms{{ sonarqube_java_heap_min }}
sonar.ce.javaOpts=-Xmx{{ sonarqube_java_heap_max }} -Xms{{ sonarqube_java_heap_min }}
sonar.search.javaOpts=-Xmx{{ sonarqube_java_heap_max }} -Xms{{ sonarqube_java_heap_min }}

sonar.path.data={{ sonarqube_data_dir }}
sonar.path.logs={{ sonarqube_log_dir }}
sonar.path.temp={{ sonarqube_temp_dir }}
